# <li id="micropost-<%= micropost.id %>">
#   <strong><%= micropost.user.name %>:</strong>
#   <%= micropost.content %>
# </li>


<li id="micropost-<%= micropost.id %>">
  <strong><%= micropost.user.name %>:</strong>
  <%= micropost.content %>
  <%= button_to "Delete", micropost, method: :delete,
                data: { turbo_confirm: "Are you sure?" },
                class: "btn btn-danger btn-sm" %>
</li>